# Core ML
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
numpy==1.23.5
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.11.4
xgboost==2.0.3

# Transformers / embeddings
transformers==4.40.0
accelerate==1.13.0

# Audio
librosa==0.10.2
soundfile==0.13.1
soxr==1.0.0

# Vision
opencv-python==4.9.0.80
pillow==12.2.0
facenet-pytorch==2.5.3
py-feat==0.6.1

# Backend (FastAPI + Socket)
fastapi==0.135.3
uvicorn==0.43.0
python-socketio==5.16.1
python-multipart==0.0.22
APScheduler==3.11.2

# Utils
joblib==1.5.3
h5py==3.16.0
tqdm==4.67.3